<header>
    <h1>{{ site.title }}</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/the-analog-self.html">The Analog Self</a></li>
            <li><a href="/digitaldichotomy.html">Digital Dichotomy</a></li>
            <li><a href="/evidence/patents/sentinel-patent-database">Sentinel Patent Database</a></li>
            <li><a href="/evidence/patents/pdf-viewer">PDF Viewer</a></li>
            <li><a href="/evidence/architectures/age-of-extraction-viewer">Age of Extraction Viewer</a></li>
        </ul>
    </nav>
</header>